<div id="<%= dom_id location %>">
 <div>
     <p>temperature</p>
     <p>humidity</p>
     <p>windspeed</p>
     <p>description</p>
    
     <%= location.name %></div>
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

</div>
